In this assignment, students will be using the K-nearest neighbors
algorithm to predict how many points NBA players scored in the 2013-2014
season.

In [34]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error 
from math import sqrt

In [35]:
a=pd.read_csv(r'Downloads\nba_2013.csv')
a.sample(frac=1).head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
362,Miroslav Raduljica,C,26,MIL,48,2,465,68,126,0.540,...,54,108,23,7,13,28,84,181,2013-2014,2013
53,Vander Blue,SG,21,BOS,3,0,15,2,4,0.500,...,3,3,1,0,0,2,1,5,2013-2014,2013
51,Andray Blatche,PF,27,BRK,73,7,1618,321,674,0.476,...,270,390,112,75,38,110,166,821,2013-2014,2013
16,Giannis Antetokounmpo,SF,19,MIL,77,23,1897,173,418,0.414,...,261,339,150,60,61,122,173,525,2013-2014,2013
346,Patrick Patterson,PF,24,TOT,65,13,1533,225,489,0.460,...,225,342,78,55,37,65,159,555,2013-2014,2013

In [36]:
a=a.drop(['player','season','season_end'],axis=1)
a.shape

(481, 28)

In [37]:
a.head()

,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,SF,23,TOT,63,0,847,66,141,0.468,4,...,0.660,72,144,216,28,23,26,30,122,171
1,C,20,OKC,81,20,1197,93,185,0.503,0,...,0.581,142,190,332,43,40,57,71,203,265
2,PF,27,TOT,53,12,961,143,275,0.520,0,...,0.639,102,204,306,38,24,36,39,108,362
3,SG,28,ORL,73,73,2552,464,1011,0.459,128,...,0.815,32,230,262,248,35,3,146,136,1330
4,C,25,NOP,56,30,951,136,249,0.546,0,...,0.836,94,183,277,40,23,46,63,187,328

In [38]:
le = LabelEncoder()
a['pos'] = le.fit_transform(a['pos'])
a['bref_team_id'] = le.fit_transform(a['bref_team_id'])

In [39]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 28 columns):
pos             481 non-null int32
age             481 non-null int64
bref_team_id    481 non-null int32
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
dtypes: float64(5), int32(2), int64(21)
memory usage: 101.6 KB

In [40]:
X=a.drop(['pts'],axis=1)
Y=a['pts']
Y.shape

(481,)

In [41]:
np.unique(X)

array([0.        , 0.04347826, 0.06666667, ...,        nan,        nan,
              nan])

In [42]:
imp = Imputer(missing_values="NaN", strategy='median', axis=1)
X = imp.fit_transform(X)

C:\Users\Rohit\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)
np.unique(X_test)

array([0.00000000e+00, 1.42857143e-01, 1.53846154e-01, ...,
       2.98000000e+03, 3.02300000e+03, 3.12200000e+03])

In [44]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsRegressor(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    error = sqrt(mean_squared_error(y_test,y_pred))
    print(error)

93.01041840049147
92.04832876041915
87.24741320584302
83.71166647157537
80.44459391192905
80.50620380178607
79.56361185969659
81.53720194931965
82.514760731715
82.18247820635449
85.36502481001834
89.12537205781777
92.49158870308283
94.04455032303011
94.68415234336126
95.07485736068801
95.60715606156356
97.34017803396998
97.38501747015619
98.3982704151331
99.50362724630119
100.82939473390309
102.80647254531249
105.17260295740164
106.54644347856495

In [45]:
neigh = KNeighborsRegressor(n_neighbors = 7, weights='uniform', algorithm='auto')
neigh.fit(X_train, y_train) 
y_pred = neigh.predict(X_test)

In [46]:
pd.DataFrame({'Actual values':y_test,'Predicted values':y_pred})

     Actual values  Predicted values
175            511        593.714286
406            483        479.714286
331            178        159.714286
29             150        139.000000
398             38         26.571429
..             ...               ...
387           1021        982.142857
456              2          1.285714
157            248        280.000000
64             645        685.000000
5               92         94.285714

[145 rows x 2 columns]